.main {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  padding: 20px 32px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
