.projects {
  width: 300px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.project {
  font-size: 16px;
  padding: 8px 32px;
  text-align: left;
  box-shadow: none;
  border: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.selected {
  background: #0075e3;
}

.assets {
  overflow-y: auto;
  padding: 20px 32px;
}

.assets h2 {
  margin: 0;
  display: flex;
  align-items: center;
}

.button {
  margin-left: 12px;
  padding: 4px 8px;
  border-radius: 5px;
}
